#wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#logout-Button {
    margin-left: 10px;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    border-radius: 50px;
  }